:root{
  --theme-color: #0072b1;
  /*--theme-color: #ccc;*/
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color);
}

form{
  display: flex;
  flex-flow: column;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0.005rem 0.005rem 0.4rem 0.15rem rgba(13,12,14,0.4);
}

form > div{ /*this is the parent of the form components*/
  padding: 0rem 4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

form > div > div:first-of-type{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

form > div > div:first-of-type a{
  align-self: flex-end;
  margin-top: 0.5rem;
  color: var(--theme-color);
  text-decoration: none;
}

/* NOT A MEMBER */
form > div > div:last-of-type{ 
  margin: 1rem 0;
  text-align: center;
}

form > div > div:last-of-type a{
  color: var(--theme-color);
  text-decoration: none;
}

#forgot-password{
  color: #0072b1;
  text-decoration: none;
}

form p{
  background-color: var(--theme-color);
  color: white;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.7rem;
}

input[type=text],
input[type=password]{
  margin-top: 0.7rem;
  border: 0.07rem solid #ced4da;
  border-radius: .25rem;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

input[type=password]{
  margin-bottom: 0;
}

input:focus{
  outline: none;
  border: 0.075rem solid #0072b1;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0072b1;
  color: white;
  border-radius: .25rem;
  padding: 0.4rem;
  font-weight: 500;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  text-transform: uppercase;
  /*margin-bottom: 2rem;*/
}

button:hover{
  transform: scale(1.02);
}

.fa-sign-in-alt{
  margin-right: 0.5rem;
}

.error-text{
  color: red;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  align-self: flex-start;
  /*text-indent: -1.2rem;*/
}

@media screen and (min-width: 576px){
  form{
    width: 25rem;
  }
  
  input[type=password],
  input[type=text]{
    width: 20rem;
  }

  button{
    width: 20rem;
  }

  .error-text{
    text-indent: -1.2rem;
  }

  form > div > div:first-of-type{
    width: 20rem;
  }

}